# 忽略Python缓存文件
__pycache__/
*.pyc

# 忽略环境配置文件
.env

# 忽略敏感信息
src/private.key
src/certificate.crt
src/xuanpei-chen.top_ssh

# src/user_card/Creature/
# src/user_card/Land/
# src/user_card/Instant/
# src/user_card/Sorcery/

src/user_cache/Creature/
src/user_cache/Land/
src/user_cache/Instant/
src/user_cache/Sorcery/

