body, html {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#myCanvas {
  position: absolute; 
  height: auto !important;
  width: auto !important;
  aspect-ratio: 1470 / 742 !important;
}
